<ul class="nav navbar-nav">
    <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Task<span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% if my %} <!-- my come from return value of templatetags.project.all_project_list-->
                <li><i class="fa fa-list" aria-hidden="true"></i> Tasks created by me</li>
                {% for item in my %}
                    <li><a href="{% url 'dashboard' project_id=item.id %}">{{ item.name }}</a></li>
                {% endfor %}
            {% endif %}

            {% if join %}
                <li><i class="fa fa-handshake-o" aria-hidden="true"></i> Tasks I participate</li>
                {% for item in join %}
                    <li><a href="{% url 'dashboard' project_id=item.project.id %}">{{ item.project.name }}</a></li>
                {% endfor %}
                <li role="separator" class="divider"></li>
            {% endif %}

            <li role="separator" class="divider"></li>
            <li><a href="{% url 'project_list' %}"> All tasks</a></li>
        </ul>
    </li>
</ul>
