{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}
    Sms Login
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
        .error-msg {
            color: red;
            position: absolute;
            font-size: 13px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="account">
        <h1 style="text-align: center">SMS Login</h1>
        <form id="smsForm" method="POST" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <label for={{ field.id_for_label }}>{{ field.label }}</label>
                        <div class="clearfix">
                            <div class="col-md-7" style="padding-left: 0;">
                                {{ field }}
                                <span class="error-msg"></span>
                            </div>
                            <div class="col-md-5">
                                <input id="btnSms" type="button" class="btn btn-default" value="Get code">
                            </div>
                        </div>

                    </div>
                {% else %}
                    <div class="form-group">
                        <label for={{ field.id_for_label }}>{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg"></span>
                    </div>
                {% endif %}
            {% endfor %}
            <div>
                <div style="float:right;">
                    <a href="{% url 'login' %}">Login via Username</a>
                </div>
            </div>

            <button id="btnSubmit" type="button" class="btn btn-primary">Log in</button>
        </form>
    </div>


{% endblock %}

{% block js %}
    <script>
        $(function () {
            bindClickBtnSms();
            bindClickSubmit();
        });

        /* 点击登陆 */
        function bindClickSubmit() {
            $('#btnSubmit').click(function () {
                $('.error-msg').empty();
                $.ajax({
                    url: "{% url 'login_sms' %}",
                    type: "POST",
                    data: $('#smsForm').serialize(),
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            location.href = res.data;
                        } else {
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next().text(value[0]);
                            })
                        }
                    }
                })
            })
        }

        function bindClickBtnSms() {
            $('#btnSms').click(function () {
                $('.error-msg').empty();
                var mobilePhone = ($('#id_mobile_phone').val());

                $.ajax({
                    url: "{% url 'send_sms' %}",
                    type: "GET",
                    data: {mobile_phone: mobilePhone, tpl: "login"},
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            console.log(res)
                            sendSmsRemind();

                        } else {
                            console.log(res);
                            $.each(res.error, function (key, value) {
                                $('#id_' + key).next().text(value)
                            })
                        }
                    }
                })
            })

        }

        function sendSmsRemind() {
            var $smsBtn = $('#btnSms');
            $smsBtn.prop('disabled', true);
            var time = 60;
            var remind = setInterval(function () {
                $smsBtn.val(time + 's');

                time = time - 1;
                if (time < 1) {
                    clearInterval(remind);
                    $smsBtn.val('Get code').prop('disabled', false);
                }
            }, 1000)
        }
    </script>

{% endblock %}