{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}
    sign up
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
        .error-msg {
            color: red;
            position: absolute;
            font-size: 13px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="account">
        <h1 style="text-align: center">Sign Up</h1>
        <form id="regForm" method="POST" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <label for={{ field.id_for_label }}>{{ field.label }}</label>
                        <div class="clearfix">
                            <div class="col-md-9" style="padding-left: 0;">
                                {{ field }}
                                <span class="error-msg"></span>
                            </div>
                            <div class="col-md-3">
                                <!--<button type="submit" class="btn btn-default">点击获取验证码</button>-->
                                <input id="btnSms" type="button" class="btn btn-default" value="Get code">
                            </div>
                        </div>

                    </div>
                {% else %}
                    <div class="form-group">
                        <label for={{ field.id_for_label }}>{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg"></span>
                    </div>
                {% endif %}
            {% endfor %}
            <button id="btnSubmit" type="button" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            bindClickBtnSms();
            bindClickSubmit();
        })

        function bindClickSubmit() {
            $('#btnSubmit').click(function () {
                $('.error-msg').empty();
                $.ajax({
                    url: "{% url 'register' %}",
                    type: "POST",
                    data: $('#regForm').serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        console.log(res);
                        if (res.status) {
                            location.href = res.data;
                        } else {
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next().text(value[0]);
                            })
                        }
                    }
                })
            })
        }

        function bindClickBtnSms() {
            $("#btnSms").click(function () {
                $(".error-msg").empty();

                var mobilePhone = ($('#id_mobile_phone').val());

                $.ajax({
                    url: '{% url 'send_sms' %}',
                    type: 'GET',
                    data: {mobile_phone: mobilePhone, tpl: 'register'},
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            console.log(res) // need to be removed if using real sms
                            sendSmsRemind(); // 60 seconds cooldown
                        } else {
                            console.log(res);
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next().text(value[0]);
                            })
                        }
                    }
                })
            })
        }

        function sendSmsRemind() {
            var $smsBtn = $('#btnSms');
            $smsBtn.prop('disabled', true);
            var time = 60;
            var remind = setInterval(function () {
                $smsBtn.val(time + 's');

                time = time - 1;
                if (time < 1) {
                    clearInterval(remind);
                    $smsBtn.val('Get code').prop('disabled', false);
                }
            }, 1000)
        }
    </script>

{% endblock %}
